body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
    height: 500px;
    width: 600px;
    background-color: blue;
    border: 5px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 50px;
    width: 50px;
    margin: 15px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid;
}
